.text {
  font-size: 10vw;
  text-align: center;
  margin: 0;
  background: url("../src/pexels-david-mcbee-730564.jpg") center;
  background-size: contain;
  margin: auto;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}